<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=y' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body {
            /*margin: 100px;
            padding: 200px;*/
            margin-top:300px;
            padding-left:1em;
            margin-left:0px;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 10px;
            width: 80%;
            height: 50%;
          align-content:center;

        }

         p {
            color:white;
        }
    </style>
</head>
<body>
    <h2> Contact Us</h2>
    <p>
        Location: In front of 500-bedded Yangon Speciality Hospital, near UMFCCI  building, 
        <br/>
        on Minye Kyaw Swar Road, Yangon, Myanmar.
        <br/>
        Opening Hours: 08:00 to 21:00 Daily
        <br />
        Phone Number: 095126740, 01-668212
        <br/>
        Email: mingalarpharmacyservice@gmail.com
    </p>

    @*margin-left:auto; margin-right:0;*@
    <div id="right">
        <section>
            <div style="width:50px; height:50px;">  <div id="qrcode"></div></div>
        </section>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
        <script>

                    var qrcode = new QRCode("qrcode", {
                        width:100,
                        height:100,
                        colorDark : "#ffffff",
                        colorLight : "#000000"
                    });
                  function makeCode() {
                      var model = @Html.Raw(Json.Encode(Model));

                      qrcode.makeCode("Front of 500-bedded Yangon Speciality Hospital, near UMFCCI building, on Minye Kyaw Swar Road");
                  }
                  makeCode();
                  $("#text").
                      on("blur", function () {

                          makeCode();
                      }).
                      on("keydown", function (e) {
                          if (e.keyCode == 13) {
                              makeCode();
                          }
                      });
        </script>
    </div>
    <br/><br/><br/>

    <style>
        .coordinates {
            background: rgba(0,0,0,0.5);
            color: #fff;
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 5px 10px;
            margin: auto;
            font-size: 11px;
            line-height: 18px;
            border-radius: 3px;
            display: none;
        }
    </style>

    <div id='map'>
<pre id='coordinates' class='coordinates'></pre>
        
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZWluYXljaGl6YXciLCJhIjoiY2pzM2Npa3BhMGVvODN5b2VuNmlxZXo2NyJ9.ekc4qIC4RqTm2Is32gvi7A';
            var coordinates = document.getElementById('coordinates');
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: [96.14176013747954, 16.78245440126456],
                zoom: 14,
                interactive: true
            });

            var popup = new mapboxgl.Popup({ offset: 25 })

           
            .setText("Mingalar Pharmacy");

            var marker = new mapboxgl.Marker()
            .setLngLat([96.14176013747954, 16.78245440126456])
            .setPopup(popup)
            .addTo(map);

            function onDragEnd() {
                var lngLat = marker.getLngLat();
                coordinates.style.display = 'block';
                coordinates.innerHTML = 'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
            }

            marker.on('click', onDragEnd);
        </script>
    </div>
    <div>
        @*<p>
            Hisoka sama
        </p>*@
    </div>
</body>
</html>