@{
    ViewBag.Title = "Contact";
}
<style>
    p {
        color: white;
    }
</style>

<h2 style="text-align:center"><strong>Privacy Policy</strong></h2>

<p>
    It is Mingalar's policy to respect your privacy regarding any information we may collect while operating our website.
</p>
<strong>Website Visitors</strong><p>

    Like most website operators, Mingalar collects non-personally-identifying information
    of the sort that web browsers and servers typically make available, such as the browser type, language preference,
    referring site, and the date and time of each visitor request. Mingalar's purpose in collecting non-personally identifying information
    is to better understand how Mingalar's visitors use its website. From time to time, Mingalar may release non-personally-identifying information
    in the aggregate, for example: by publishing a report on trends in the usage of its website.
</p>
<p>
    Mingalar also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users. Mingalg>ar only discloses
    logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
</p>
<strong>
    Gathering of Personally-Identifying Information
</strong><p>
    Logged in visitors to Mingalar's website interact with Mingalar in ways that require Mingalar to gather personally-identifying information.
    The amount and type of information that Mingalar gathers depends on the nature of the interaction. For example, when you sign in to Mingalar with your existing
    account on another website, Mingalar may gather certain profile data for that account. When you create a data on Mingalar, the data in it
    is associated with the account under which you are logged in. In each case, Mingalar collects such information only insofar as is necessary or appropriate to fulfill
    the purpose of the visitor's interaction with Mingalar. Mingalar does not disclose personally-identifying information other than as described below. And visitors can
    always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.

</p>