@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
        .mySlides {
            display: none;
        }

        .box {
            background: #d5edd7;
            display:inline-block;
            padding: 3%;
            background-color:#e2f2e1;
            width:100%;
  
        }

        .line {
            border-left: 1px solid lightgray;
        }

        .box3 {
            margin: 0;
            width: 33%;
            min-width: 200px;
            display: inline-block;
            padding: .5% 2.5%;
            padding-bottom: 50px;
        }

            .box3 h1 {
                font-weight: normal;
                font-size: 16pt;
                margin: 0 auto;
                color: #306842;
            }

            .box3 p {
                color:#16511a;
                font-size: 11pt;
                margin-bottom: 30px;
                margin-top: 20px;
            }

        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 100%;
            margin: auto 0;
        }

   myCarousel, carousel slide{
        margin:auto 0;
        align-content:center;
       position:absolute;
    }
     
    </style>
</head>
<body>
        @*<iframe width="500" height="300" src="https://www.youtube.com/embed/Im69kzhpR3I"></iframe>*@
        <div class="container">
            <div id="myCarousel" class="carousel slide" d>

                <ol class="carousel-indicators">
                    <li class="item1 active"></li>
                    <li class="item2"></li>
                    <li class="item3"></li>
                    <li class="item4"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/pils.jpg" alt="medicine_pills">
                        <div class="carousel-caption">
                            <h3>Mingalar Pharmacy</h3>
                            <p>Wishing you well-being</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/prescriptions-480659301_900x-702x336.jpg" alt="Chania">
                        <div class="carousel-caption">
                            <h3>All kinds of Medicine</h3>
                            <p>Check out our database to browse many selections of medicines.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/NW_PH_9802-1-702x336.jpg" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Medicine Records</h3>
                            <p>Create records, memos within our database to store your precious medicine history.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/1280x960_71026P00-WVGPM-702x336.jpg" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Wishlists</h3>
                            <p>Send wishs of medicine you would like to stock in our pharmacy.</p>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel" role="button">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        
        <script>
            $(document).ready(function () {
                $("#myCarousel").carousel();

                $(".item1").click(function () {
                    $("#myCarousel").carousel(0);
                });
                $(".item2").click(function () {
                    $("#myCarousel").carousel(1);
                });
                $(".item3").click(function () {
                    $("#myCarousel").carousel(2);
                });
                $(".item4").click(function () {
                    $("#myCarousel").carousel(3);
                });
                $(".left").click(function () {
                    $("#myCarousel").carousel("prev");
                });
                $(".right").click(function () {
                    $("#myCarousel").carousel("next");
                });
            });
        </script>
            <div style="align-content:center">
                <div class="box">
                    <div class="box3">
                        <h1>
                            Get in touch with Mingalar
                        </h1>
                        <br />
                        <img src="~/Content/contact-us.png" style="width:100px;height:90px" />
                        <p>
                            Learn more about Mingalar pharmacy, our physical location, how to reach to us, or our email address. 
                        </p>
                        <a class="More" href="@Url.Action("Index", "ContactUs")">Learn More</a>
                    </div>

                    <div class="box3 line">
                        <h1>
                            View Instock Medicine List
                        </h1>
                        <br />
                        <img src="~/Content/beeb0c08058cfaff3ceb3fa5cd56d485-tablet-capsule-medicine-icon-by-vexels.png" style="width:100px;height:95px" />
                        <p>
                            View what medicines are avaliable at Mingalar Pharmacy, without having to give a call to the pharmacy. 
                        </p>
                        <a class="More" href="@Url.Action("Index", "Instock_Medicine")">More</a>
                    </div>

                    <div class="box3 line">
                        <h1>
                            View Patient Data
                        </h1>
                        <br />
                        <img src="~/Content/f1d0807f8ffad0197757d840bdc97d0b-medical-record-icon-by-vexels.png" style="width:100px;height:95px" />
                        <p>
                            Check your daily report about what medicine you bought on which day and share across with other users.
                        </p>
                        <a class="More" href=""@Url.Action("Index", "Record")">More</a>
                    </div>
                </div>
                <div style="background-color:#84c178;">
                    <h3 style="text-align:center">Web Description</h3>
                    <p style="color:white">
                        Mingalar Online Pharmacy Database service is a site where users can meet up online, share across their medical
                        information and learn more about certain medicines. Users can also store their medical conditions and  Users can store their medical history on
                        this site to manage their database inventory easily. Also, searching among the database is also avaliable therefore, users can search their desired
                        medicines easily. Mingalar also has wishlist features where they can submit a form to request certain medicines.
                    </p> 
                         </div>
            </div>
        </div>

    


    <br/>
   
</body>
</html>