@{
    ViewBag.Title = "Privacy";
}

<style>
    p{
        color:white;
    }

</style>
<h2 style="text-align:center"><strong> Terms of Conditions and Services</strong></h2>

<p>
    The following terms and conditions govern all use of the Mingalar website and all content, 
    services and products available at or through the website.
    The Website is offered subject to your acceptance without modification of all of the terms and 
    conditions contained herein and all other operating rules, policies (including, without limitation,
    Mingalar's Privacy Policy) and procedures that may be published from time to time on this site.
    </p>
<p>
    Please read this Agreement carefully before accessing or using the Website. By accessing or using any part 
    of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree
     to all the terms and conditions of this agreement, then you may not access the Website or use any services.
     If these terms and conditions are considered an offer by Obvibase, acceptance is expressly limited to these terms.
     This Website is permitted to use at least by the age of 16. 
</p>
<p>
     Minglar cannot review, all of the materials posted to the Website,
    and cannot therefore be responsible for that material's content, use or effects. By operating the Website, Mingalar does
    not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful
    or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses,
    worms, Trojan horses, and other harmful or destructive content.
</p>
<p>
    We have not reviewed, and cannot review, all of the material, including computer software, 
    made available through the websites and webpages to which Mingalar links, and that link to Mingalar.
    Mingalar does not have any control over those websites and webpages, and is not responsible for their contents
     or their use. By linking to another website or webpage, Mingalar does not represent or imply that it endorses such website or 
    webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, 
    and other harmful or destructive content. Mingalar disclaims any responsibility for any harm resulting from your use of other unknown websites and webpages.
</p>
<p>
    You represent and warrant that 1. your use of the Website will be in strict accordance with Mingalar's Privacy Policy, with this Agreement and with all
     applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area,
     regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from Myanmar or
     the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
</p>
<p>Thanks for reading Terms of condition.</p>
<p>Licensed in 2019</p>