
@{
    ViewBag.Title = "Tips";
}
<style>
    iframe {
        width: 350px;
        height: 200px;
    }

    h3 {
        color: white;
    }

    .right {
        position: absolute;
        right: 0px;
    }
</style>

<h2 style="color:white;  text-align:center">Tips and Tricks</h2>
<br />
<div class="container">
    <h3>Take a look at these handy lifehacks to learn about medical fields.</h3>
    <div style="margin:auto 0;width:50%; padding-left:3em;align-content:center">
        <p style="font-size:15px">
            <strong>
                What to carry in your travel first aid kit?
            </strong>
        </p>
        <div class="right">
            <p><strong>Advertisement area</strong></p>
            <a href="https://www.unilab.com.ph/products/biogesic-syrup-and-tab/">
                <img src="~/Content/images.jpg" width="140" height="300" />
            </a>
            <a href="https://www.colgate.com/en-us">
                <img src="~/Content/download (1).jpg" alt="Advertisement1" width="150" height="300" />
            </a>
            <br />
            <a href="http://famepharma.com/">
                <img src="~/Content/images (1).jpg" alt="Advertisement2" width="300" height="320" />
            </a>
            <br />
            <a href="https://www.wavemoney.com.mm/?lang=my">
                <img src="~/Content/wavemoney.jpg" alt="Advertisement3" width="300" height="240" />
            </a>
        </div>
        <iframe src="https://www.youtube.com/embed/8_SdfmKPaZA?autoplay=0"></iframe>
        <br />
        <p style="font-size:15px">
            <strong> Ultimate First Aid Kit - What to pack?</strong>
</p>

        <iframe src="https://www.youtube.com/embed/To2zEGu8xHM?autoplay=0"></iframe><br />

        <p style="font-size:15px"><strong>First Aid Safety Kit: CPR First Aid Kit for Emergency Response </strong></p>
        <iframe src="https://www.youtube.com/embed/10qA_Qty_EE?autoplay=0"></iframe>
        <br />

        <p style="font-size:15px">
            <strong> First Aid Safety Kit:  How to treat snake bites before going to the doctor.</strong>
</p>
        <iframe src="https://www.youtube.com/embed/KKyg3IGOwnk?autoplay=0"></iframe><br />

        <p style="font-size:15px"> 
            <strong>First Aid Safety Kit: How to treat dog bites?</strong>
</p>
        <iframe src="https://www.youtube.com/embed/ACPdJY2eras?autoplay=0"></iframe>
    </div>
</div>

